@charset "utf-8";
.lzy-wrap {
	padding: 13px 0 0 10px;
	padding-right: 37px;
}
.lzy-tit {
	height: 53px;
	border-bottom: 1px solid #CCC;
}
.lzy-tit h2 {
	float: left;
	height: 52px;
	border-bottom: 2px solid #73BEE6;
	font-size: 18px;
	line-height: 52px;
}
.lzy-add-group {
	float: right;
	line-height: 52px;
}
.lzy-add-group span {
	font-size: 16px;
}
.lzy-add-group input, .lzy-add-group button {
	height: 26px;
	padding: 0 8px;
	border-radius: 3px;
	outline: none;
}
.lzy-con {
	margin-top: 20px;
}
.lzy-group-name {
	float: left;
	width: 163px;
	/*margin-top: -1px;*/
	border: 1px solid #B7BDBF;
	background: #EEF6FA;
}
.lzy-group-name li {
	width: 129px;
	height: 28px;
	padding: 12px 18px 0 18px;
	cursor: pointer;
}
.lzy-group-name .group-select {
	width: 129px;
	height: 28px;
	padding: 12px 30px 0 18px;
	border-left: 0;
	background: url(../images/li-select1.png) no-repeat;
}
.lzy-group-name li span {
	line-height: 19px;
}
.lzy-group-name li input {
	float: right;
	padding: 0 5px;
}
.lzy-aut-select-box {
	float: right;
	overflow: hidden;
	border: 1px solid #b4b4b4;
}
.lzy-aut-select .lzy-allselect {
	width: 50px;
	margin-left: 2px;
}
.lzy-aut-select {
	float: right;
	margin-top: -1px;
	padding: 0 0 18px 13px;
}
.lzy-aut-select span {
	cursor: pointer;
}
.lzy-aut-select .lzy-autselect-child {
	height: 41px;
	border-top: 1px solid #b4b4b4;
	line-height: 41px;
}
.lzy-autselect-child ul li {
	width: 98px;
}
.lzy-aut-select li ul {
	overflow: hidden;
}
.lzy-aut-select li ul li {
	float: left;
	margin-left: 20px;
}
.lzy-checkbox {
	float: left;
	width: 13px;
	height: 13px;
	margin-top: 14px;
	margin-right: 8px;
	background: url(../images/check.png) no-repeat;
}
.lzy-aut-select .lzy-select {
	background: url(../images/check.png) 0 -14px no-repeat;
}
.lzy-head-name {
	padding: 0 8px;
	border: 2px solid #73bee6;
	border-top: 0;
	border-bottom: 0;
}
.lzy-aut-select .lzy-key-aut {
	margin-left: 0px;
}
.lzy-key-aut span {
	padding-left: 8px;
	border-left: 2px solid #999;
	color: #b5bbc4;
}
.lzy-bottom-btn {
	margin-top: 37px;
}
.lzy-save {
	margin-left: 8px;
}
.lzy-save, .lzy-reset {
	width: 75px;
	height: 26px;
	margin-left: 21px;
	border: 1px solid #b1b4b6;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
}
.lzy-save:hover, .lzy-reset:hover {
	background: #4b94c7;
	color: #fff;
}
.lzy-save:active, .lzy-reset:active {
	border: 1px solid #555;
}